<!-- icon Купить Туториал Разные-статьи Войти -->

<div style="display: flex; justify-content: space-between; align-items: center">
  <div>
    <h1>Браслет, который сделает тебя лучше</h1>
    <p>Браслет нагревается если ты не учишься</p>
    <button class="rainbow-color">Купить razvit band</button>
  </div>
  <div class="rainbow-imgs">
    <img src="/static/img/band-blue.webp" class="rainbow-img" />
    <img src="/static/img/band-green.webp" class="rainbow-img" />
    <img src="/static/img/band-red.webp" class="rainbow-img" />
    <!-- <img src="/static/img/band-blue.png" class="slide">
    <img src="/static/img/band-green.png" class="slide">
    <img src="/static/img/band-red.png" class="slide"> -->
    <!-- <div style="background-color: blue; width:100px; height: 100px;" class="slide"></div>
    <div style="background-color: lime; width:100px; height: 100px;" class="slide"></div>
    <div style="background-color: red; width:100px; height: 100px;" class="slide"></div> -->
  </div>
  <!-- <img src="/static/img/band.png" style="animation: huex 6s infinite;"> -->
  <!-- buy button should be with cool gradient animation when hover -->
  <!-- maybe button should rainbow with image! -->
  <!-- Create rainbow with 3 images -->
  <!-- videos -->
</div>

<h2>Расширение</h2>
Chrome
<!-- скриншоты расширения на ноуте? -->

<h2>Веб-интерфейс</h2>
Управляй/настраивай браслет с любого устройтсва.
<!-- скриншоты веб-интерфейса в рамке телефона / ноутбука -->

<h2>Программа</h2>
Windows, MacOS

<h2>Тренировки</h2>
Apple Watch, Amazfit, Bluetooth

<h2>Open Source. Arduino</h2>

USB-C?

<!-- <h2>Сравнение</h2>
<table>
  <tr>
    <th></th>
    <th>Razvit Band</th>
    <th>Pavlok 3</th>
  </tr>
  <tr>
    <td>Цена</td>
    <td>30$</td>
    <td>200$</td>
  </tr>
  <tr>
    <td>Способ стимуляции</td>
    <td>Нагрев</td>
    <td>Удар током, вибрация, писк</td>
  </tr>
  <tr>
    <td>Расширение для браузера</td>
    <td>Да</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Светодиоды</td>
    <td>RGB</td>
    <td>7 одноцветных</td>
  </tr>
  <tr>
    <td>Мобильное приложение</td>
    <td>–</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Водонепроницаемость</td>
    <td>–</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Программируемость</td>
    <td>Arduino, Open Source</td>
    <td>–</td>
  </tr>
  <tr>
    <td>API</td>
    <td>Да</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Ремешок</td>
    <td>Сталь, совместим с MiJobs Mi Band 7</td>
    <td>Сталь / Силикон</td>
  </tr>
  <tr>
    <td>USB-C</td>
    <td>Да</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Кнопки</td>
    <td>3</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Технология связи</td>
    <td>Wi-Fi, Bluetooth (частично)</td>
    <td>Bluetooth</td>
  </tr>
  <tr>
    <td>Аккумулятор</td>
    <td>300 mAh</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Доставка</td>
    <td>По России на Ozon, а также в Беларусь, Казахстан, Кыргызстан, Армению?</td>
    <td>Не доставляется в Россию из-за санкций</td>
  </tr>
</table> -->

<h2>FAQ</h2>
<h4>Можно ли перепрограммировать браслет?</h4>
<p>
  Да, можно. Код Open Source и написан на Arduino. Загрузить прошивку можно
  Over-the-air в web-интерфейсе браслета по <a href="pages/ota">инструкции</a>.
</p>
<h4>Могу ли я поменять ремешок браслета?</h4>
<p>
  Да, это можно сделать, браслет совместим с определёнными ремешками для Mi Band
  7 от MiJobs.
</p>
<h4>Есть ли другие подобные устройства?</h4>
<p>
  Единственным похожим устройством является браслет Pavlok, который бьёт током,
  но он не доставляется в Россию из-за санкций, сравнение Razvit Band и Pavlok
  можно посмотреть на этой <a href="pages/pavlok">странице</a>.
</p>
<!-- get from pavlok as example: -->
<h4>Как мне настроить браслет?</h4>
<p>Следуй <a href="pages/tutorial">этим инструкциям</a>.</p>
<h4>Могу ли я настроить мощность нагрева?</h4>
<p>Да, это <a href="">настраивается</a> в веб-интерфейсе браслета.</p>
<h4>Могу ли я изменить размер браслета?</h4>
<p>Да, это <a href="">можно</a> сделать.</p>

<footer>band.razvit.org 2025</footer>

<!-- <canvas id="bg"></canvas> -->
<!-- filter: hue-rotate(90deg); -->
<!-- Create interactive heat system with vue it is easier with equations or api or just clicking -->
<style>
  #bg {
    width: 500px;
    height: 500px;
  }
  .rainbow-imgs {
    position: relative;
    height: 500px;
    width: 500px;
  }
  /* background: radial-gradient(circle at 25% 75%, red, black 30%); */
  /* background-color: #9005;
  border-radius: 50%;
  box-shadow: 0 0 50px 70px #9005; */
  .rainbow-img {
    position: absolute;
    opacity: 1;
    animation: rainbow-img-animation 12s infinite linear;
  }
  /* mix-blend-mode: screen; */
  .rainbow-img:nth-child(1) {
    animation-delay: -8s;
  }
  .rainbow-img:nth-child(2) {
    animation-delay: -4s;
  }
  .rainbow-img:nth-child(3) {
    animation-delay: 0s;
  }

  @keyframes rainbow-img-animation {
    0% {
      opacity: 1;
      z-index: 2;
    }
    16.6% {
      opacity: 0;
      z-index: 2;
    }
    33% {
      opacity: 0;
      z-index: 1;
    }
    33.3% {
      opacity: 1;
      z-index: 1;
    }
    66.6% {
      opacity: 1;
      z-index: 1;
    }
    67% {
      opacity: 0;
      z-index: 1;
    }
    83.2% {
      opacity: 0;
      z-index: 2;
    }
    100% {
      opacity: 1;
      z-index: 2;
    }
  }
  /* 0% { opacity: 1; z-index: -1; }
  33.3% { opacity: 1; z-index: -1; }
  33.4% { opacity: 0; z-index: 1; }
  50% { opacity: 0; }
  66.6% { opacity: 1; }
  83.1% { opacity: 0; }
  100% { opacity: 0; z-index: 1; } */
  /* 0% { opacity: 1; }
  33% { opacity: 0; }
  66% { opacity: 0; }
  100% { opacity: 1; } */

  .rainbow-color {
    animation: rainbow-color-animation 12s infinite linear;
    background: #111;
    border-width: 1px;
    border-style: solid;
  }
  @keyframes rainbow-color-animation {
    /* 0% { background: Tomato; }
  33% { background: MediumSeaGreen; }
  66% { background: DodgerBlue; }
  100% { background: Tomato; } */
    /* 0% { background: Tomato; }
  16.6% { background: MediumSeaGreen; }
  33.3% { background: DodgerBlue; }
  50% { background: Tomato; }
  66.6% { background: MediumSeaGreen; }
  83.2% { background: DodgerBlue; }
  100% { background: Tomato; } */
    0% {
      color: Tomato;
      border-color: Tomato;
    }
    16.6% {
      color: MediumSeaGreen;
      border-color: MediumSeaGreen;
    }
    33.3% {
      color: DodgerBlue;
      border-color: DodgerBlue;
    }
    50% {
      color: Tomato;
      border-color: Tomato;
    }
    66.6% {
      color: MediumSeaGreen;
      border-color: MediumSeaGreen;
    }
    83.2% {
      color: DodgerBlue;
      border-color: DodgerBlue;
    }
    100% {
      color: Tomato;
      border-color: Tomato;
    }
    /* important not working in keyframes, fix style */
  }

  /* @keyframes huex {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
} */
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script>
  // import * as THREE from 'three'
  console.log(THREE);
  const scene = new THREE.Scene();
  // const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000)
  const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
  const renderer = new THREE.WebGLRenderer({
    canvas: document.querySelector("#bg"),
  });
  renderer.setSize(1000, 1000);
  camera.position.setZ(30);
  const geometry = new THREE.TorusGeometry(10, 3, 16, 100);
  const material = new THREE.MeshBasicMaterial({
    color: 0xff6347,
    wireframe: true,
  });
  const torus = new THREE.Mesh(geometry, material);
  scene.add(torus);
  renderer.render(scene, camera);
</script>
