{% extends 'base.html' %} {% block content %}
<div class="m-auto" style="max-width: 330px">
  <h1>Sign in</h1>
  <form action="/auth/token" method="POST">
    <div class="mb-3">
      <label>Username</label>
      <input
        type="text"
        required
        class="form-control"
        name="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        required
        placeholder="Password"
        name="password"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Sign in</button>
  </form>
  <p class="text-center mt-3">
    Don't have an account? <a href="/register">Sign up</a>
  </p>
</div>
<script>
  const formElement = document.querySelector("form");
  formElement.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(formElement);
    const urlData = new URLSearchParams();
    urlData.append("username", formData.get("username"));
    urlData.append("password", formData.get("password"));

    const response = await fetch("/auth/token", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: urlData,
    });

    const data = await response.json();
    if (response.ok) {
      localStorage.setItem("access_token", data.access_token);
      window.location.href = "/profile";
    } else {
      alert("Sign in failed");
    }
  });
</script>
{% endblock %}
